<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="2">
      <th>Name</th>
      <th>Branch</th>
      <th>Marks</th>

      <tr>
        <td><%= stu[0].name%></td>
        <td><%= stu[0].branch%></td>
        <td><%= stu[0].roll%></td>
      </tr>
      <!-- <tr>
            <td><%= stu[0].name%></td>
            <td><%= stu[0].branch%></td>
            <td><%= stu[0].roll%></td>
        </tr>
        <tr>
            <td><%= stu[1].name%></td>
            <td><%= stu[1].branch%></td>
            <td><%= stu[1].roll%></td>
        </tr>
        <tr>
            <td><%= stu[2].name%></td>
            <td><%= stu[2].branch%></td>
            <td><%= stu[2].roll%></td>
        </tr> -->
    </table>
  </body>
</html>
